@red: #e40808;
@yellow: #e5d135;
@green: #60b417;
@blue: #4953c2;
@disabled-color: #808080;
.card {
    color: white;
   
    &.red {
        background: @red;
    }
    &.yellow {
        background: @yellow;
    }
    &.green {
        background: @green;
    }
    &.blue {
        background: @blue;
    }
    &.black {
        background: black;
    }
    &:disabled {
        background: @disabled-color;
    }
}
.top-card {
    .card();
    text-align:center;
    padding: 10px;
}
