@import "Cards.less";

@red: #e40808;
@yellow: #e5d135;
@green: #60b417;
@blue: #4953c2;
@disabled-color: #808080;
.cards, #top-card-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    card.disabled {
        opacity: 0.5;
    }
}
#top-card-wrapper card {
    border: 1px solid black;
    border-radius: 10%;
    padding: 2% 10%;
}
.buttons {
    text-align: center;
}

.other-players {
    display: flex;
    justify-content: space-around;
    .other-player {
        text-align: center;
        font-size: 2em;
        .current-player-marker {
            width: 10px;
            height: 10px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 1px;
            background-color: #5cb85c;
            border-radius: 50%;
        }
    }
}

.modal-body {
   text-align:center;
    .btn {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin: 10px;
    }
    .red {
        background: @red;
    }
    .yellow {
        background: @yellow;
    }
    .green {
        background: @green;
    }
    .blue {
        background: @blue;
    }
}

#log {
    max-width: 300px;
    height: 150px;
    overflow-y: scroll;
    
}

#score-table {
    tbody {
        counter-reset: place;
    }
    tr {
        counter-increment: place;
        td:first-child:before {
            content: counter(place);
        }
        td {
            text-align: left;
        }
    }
}

#alerts {
    position: absolute;
    bottom: 0;
    width: 100%;
    .alert {
        &.ng-enter {
             transition: opacity 0.2s ease-out;
             opacity: 0;
             &.ng-enter-active {
                 opacity: 1;
             }
        }
        &.ng-leave {
            transition: opacity 0.2s ease-in;
             opacity: 1;
             &.ng-leave-active {
                 opacity: 0;
             }
        }
    }
}