<div ng-class="color" class="card">
    <div class="ellipse"></div>
    <div ng-class="color" ng-bind-html="content" class="content"></div>
    <div ng-class="color" ng-bind-html="smallContent" class="small-content"></div>
    <div ng-class="color" ng-bind-html="smallContent" class="small-content-reverse"></div>
</div>